.header-burger {
  display: none;
}

.header-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 25px 10px 10px;
  background-color: rgba(0, 0, 0, 0.87);
}

.header-block-text {
  color: aliceblue;
  margin: auto;
}

.header-block-gallery {
  color: aliceblue;
  margin: auto;
}

.gallery {
  font-weight: 1000;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .header-block .header-burger {
    display: block;
  }
  .header-block {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 992px) {
  .header-block-search-top {
    display: none;
  }
  .categories {
    display: none;
  }
}
