.burger-menu-block {
  position: relative;
  width: 50px;
 }

.hamburger:before {
  top: -3px;
  content: "";
  position: absolute;
  width: 37px;
  height: 6px;
  background: rgb(235, 229, 229);
  transition: 0.5s;
}

.hamburger:after {
  top: 10px;
  content: "";
  position: absolute;
  width: 37px;
  height: 6px;
  background: rgb(235, 229, 229);
  transition: 0.5s;
}

.list {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 100%;
  flex-wrap: nowrap;
  color: white;
  font-size: 1rem;
  font-weight: 200;
  z-index: 20;
}

.listItem {
  padding: 0;
  list-style: none;
  background-color: #4846469c;
  border-radius: 20%;
}

.listItem li {
  margin: 2px 8px;
  cursor: pointer;
}

.listItem li:hover {
  font-weight: 800;
}

.iconActive .hamburger {
  background: transparent;
  box-shadow: 0 2px 5px transparent;
}

.iconActive .hamburger:after {
  top: 0;
  background: #fff;
  transform: rotate(225deg);
  box-shadow: 0 -2px 5px black;
}

.iconActive .hamburger:before {
  top: 0;
  background: #fff;
  transform: rotate(135deg);
  box-shadow: 0 2px 5px black;
}

.menuOpen {
  width: 100px;
}

.menuClose {
  display: none;
  width: 0px;
}
