button {
  color: rgba(240, 248, 255, 0.504);
  width: fit-content;
  background-color: rgba(14, 14, 14, 0.945);
  border: none;
  border-radius: 30px;
  padding: 10px;
  margin: 0 8px;
}
.buttons-category {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0 35px;
}
.button-category-single:hover {
  color: white;
}
.buttons-category-search {
  display: none;
}













@media (max-width: 992px) {
  .buttons-category-search {
    display: block;
  }
  .buttons-category {
    justify-content: center;
  }
  .button-category-single{
    font-size: 20px;
  }


}
