.image-block-template {
  /* display: flex;
  flex-wrap: wrap; */
  background-color: rgba(0, 0, 0, 0.87);
}
@media (max-width: 1200px) {
  /* button {
    display: none;
  } */
  .sc-bgqQcB {
   display: none;
  } 
}
